@use 'variables';
@use 'mixins';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;

  @include mixins.scrollbar-firefox;
}

@include mixins.scrollbar-chrome;

::selection {
  background-color: darken(variables.$light-green, 1);
}

html,
body {
  font-size: 62.5%;
}

body {
  font-family: variables.$font-lato;
  max-width: 100vw;
  min-height: 100vh;
  background-color: variables.$white;
  color: variables.$black-blue;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

li {
  list-style: none;
}

fieldset {
  border: none;
}

textarea {
  caret-color: variables.$black-blue;
}

input[type='radio'] {
  display: none;
}

a {
  text-decoration: none;
}
