@use '../../sass/variables';

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  background-color: variables.$black-green;
  padding: 4rem;
  border-radius: 0.8rem;
  min-width: 60vw;
  margin: 0 auto;

  &__empty-message {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: variables.$white;
    background-color: variables.$black-green;
    padding: 4rem;
    border-radius: 0.8rem;
    max-width: 60vw;
    margin: 0 auto;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

.fade-leave-from {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
}
