@use '../../sass/variables';

.home-page {
  &__header,
  &__content {
    font-size: 2rem;
  }

  &__header {
    max-width: 90vw;
    margin: 0 auto 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;

    &--flex-end {
      justify-content: end;
    }
  }

  &__content {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__todos-finished {
    padding: 2rem;
    margin-left: 5rem;
  }
}
.add-todo-link {
  cursor: pointer;
  border-radius: 0.4rem;
  background-color: variables.$black-blue;
  font-size: 1.7rem;
  padding: 1rem;
  color: variables.$white;

  &:hover {
    filter: brightness(1.2);
  }
}
