<header class="home-page__header" :class="headerVariants">
  <h2 v-if="todosUndoneCount" class="home-page__undone-counter">
    Você tem {{ todosUndoneCount }} tarefas pendentes.
  </h2>
  <router-link :to="addTodoLink" class="add-todo-link"
    >Adicionar Tarefa</router-link
  >
</header>

<main class="home-page__content">
  <todo-list :todos="todosUndone" mode="LIST_UNDONE"></todo-list>

  <h2 class="home-page__todos-finished" v-if="todosDone.length">
    Tarefas Finalizadas
  </h2>

  <todo-list :todos="todosDone" mode="LIST_DONE"></todo-list>
</main>
